__pycache__/
*.py[cod]
*.egg-info/
.venv*/
.env*
.DS_Store
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
ruff_cache/
dist/
build/
site/
*.sqlite3
*.db
.vscode/
.idea/
data/**
!data/.gitkeep
logs/**
!logs/.gitkeep
